.formInput{
    width:300px;
    height:50px;
    border:none;
    border-bottom:1px solid #adadad;
}
.banner{
    background-color:#6461ff;
    height:auto;
    display:flex;
    padding:30px;
    flex-direction:column;
    color:white;
    justify-content: center;
    align-items: center;
    
}
.miniHeaderSection{
    display:flex;
    background-color:transparent;
    height:10vh;
    width:90%;
    flex-direction:row;
    align-items:center;
    justify-content: flex-end;
}

.banner h1{
    color:white;
    font-size:50px;
    font-weight:bold;
}
.bannerButton{
    color:white;
    background-color:#ff9633;
    margin-top: 30px;
    font-size: 22px;
    font-weight:bold;
    height:auto;
    width:150px;
    border-radius: 30px;
    border-width:3px;

}
.bannerButton:hover{
    color:#ff9633;
    background-color:white;
    border-color: #ff9633;
}
.headerSection{
    display:flex;
    background-color:white;
    height:25vh;
    width:80%;
    flex-direction:row;
    align-items:center;
    justify-content: flex-start;

}


.login{
    background-image:url('../assets/whitesmokeBG.png');
    background-size: contain;
    background-repeat: repeat;
    background-position-x: center;
}